<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838643060564-gp1g93mqutc0i7f9orekffrbosntovji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838643060564-gp1g93mqutc0i7f9orekffrbosntovji</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>838643060564-u0nn3aun75bpt4kuu4ang5haumo9qqc1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCVI7R0gkV2Dyw-Q0zPl3KaaLwmf9QGmc0</string>
	<key>GCM_SENDER_ID</key>
	<string>838643060564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vodjo.surfaceios</string>
	<key>PROJECT_ID</key>
	<string>santooi</string>
	<key>STORAGE_BUCKET</key>
	<string>santooi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838643060564:ios:79251663df507480e942c1</string>
</dict>
</plist>