name: Android

on:
  push:
    branchs:
      - master
      - merging
jobs:
  build:
    runs-on: ubuntu-latest
    container: reactnativecommunity/react-native-android
    steps:
    - uses: actions/checkout@v2
    - name: Envinfo
      run: npx envinfo
    - name: Build application
      run: yarn install && cd android && chmod +x gradlew && ./gradlew assembleRelease

  # needs: install-and-test
  #   runs-on: ubuntu-latest
  #   steps: 
  #     - uses: actions/checkout@v2
  #     - name: Install npm dependencies
  #       run: |
  #         yarn install
  #     - name: Build Android Release
  #       run: |
  #         cd android && ./gradlew assembleRelease
  #     - name: Upload Artifact
  #       uses: actions/upload-artifact@v1
  #       with:
  #         name: app-release.apk
  #         path: android/app/build/outputs/apk/release/

